<%- include('../partials/header1') %>

<div class="container">
    <div class=" row">
<h1 style="text-align: center;"> Edit <%=serviceProvider.name%></h1>
 <div style="width: 30%; margin: 25px auto;">
<form action="/serviceProvider/<%=serviceProvider._id%>?_method=put" method="post">
    <div class="mb-3">
        
        <input class="form-control" type="text" name="serviceProvider[name]" value="<%=serviceProvider.name%>" placeholder="name"  required>
    </div>
   
    <div class="mb-3">
        <input  class="form-control" type="text" name="serviceProvider[profilePhoto]" value="<%=serviceProvider.profilePhoto%>"  placeholder=" URL" required>
    </div>
    
    <div class="mb-3">
        <input class="form-control"  type="text" name="serviceProvider[contactNumber]" value="<%=serviceProvider.contactNumber%>" placeholder="contactNumber">
    </div>
    
    <div class="mb-3"> 
        <input class="form-control"  type="text" name="serviceProvider[serviceType]"  value="<%=serviceProvider.serviceType%>" placeholder="serviceType">
    </div>
    <div class="mb-3"> 
        <input class="form-control"  type="text" name="serviceProvider[description]"  value="<%=serviceProvider.description%>" placeholder="description">
    </div>
    <div class="mb-3 d-grid gap-2">
        <button class="btn btn-lg btn-primary btn-block"> Submit!</button>
    </div>
    
</form>
</div>
    </div>
</div>
<%- include('../partials/footer1') %>