<%- include('../partials/header1') %>
<h1> <%=Title%></h1>

<table class="table centerIt">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col" style="width:20%">Created At </th>
        <th scope="col "style="width:30%" >Status</th>
        <th scope="col"style="width:40%">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%requests.forEach((request)=>{%>
         <tr>  
           
            <th scope="row"><a href="/request/<%=request._id%>"><%=request._id%></a></th>
            <td><%=request.createdAt.toDateString()%></td>
            <td><%=request.status%></td>
            <td><%=request.description.substring(0,100)%></td> 
         </tr>
        <%})%>
     
    </tbody>
  </table>
  <%- include('../partials/footer1') %>