<%- include('../partials/header1') %>

<div class="container">
    <div class=" row">
       
<h1 style="text-align: center;"> Edit Review </h1>
 <div style="width: 30%; margin: 25px auto;">
<form action="/serviceProvider/<%=providerId%>/review/<%=review._id%>?_method=put" method="post">
    <div class="mb-3">
        <input class="form-control" type="text" name="review[text]" value="<%=review.text%>" placeholder="text">
    </div>
    
    <div class="mb-3 d-grid gap-2">
        <button class="btn btn-lg btn-primary btn-block"> Submit!</button>
    </div>
    
</form>
</div>
    </div>
</div>
<%- include('../partials/footer1') %>